@import url('https://fonts.googleapis.com/css?family=Lato');

body, h6, h5, h4, h3, h2, h1, html {
    font-family: "Lato", sans-serif;
}

body {
    background-color: white;
}
.response-border {
    border-width: 0 1px 1px 1px;
    border-color: #edf1f5;
    border-style: solid;
}
.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.navbar-form input, .form-inline input {
    width: auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}


.footer {
    width: 100%;
    background-color: white;
    color: #2C3E50;
    padding-bottom: 0;
}

.footer h4 {
    font-weight: bold;
}

.footer ul {
    list-style: none;
    -webkit-padding-start: 0;
}


.body-color {
    background-color: #f0f3f4;
}

.home-color {
    background-color: transparent;
    color: #033c73;
}

.home-font-size-1 {
    font-size: 90px;
    font-weight: 700;
}

.home-font-size-2 {
    font-size: 70px;
    font-weight: 700;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

*:-moz-placeholder {
    color: #033c73;
    opacity: 1;
}

*::-moz-placeholder {
    color: #033c73;
    opacity: 1;
}

*::-webkit-input-placeholder {
    color: #033c73;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.scroll-area {
    overflow: auto;
    height: 600px;
}

.sub-header {
    background-color: #edf1f5;
    border-bottom: 1px solid #d0d8df;
    margin-top: -5px;
}

.badge {
    background: #e4e9ee none repeat scroll 0 0;
    color: #0d3244;
    border-style: solid;
    border-width: 0.2px;
}

.label-default {
    background: #3f729b none repeat scroll 0 0;
    color: #fff;
}

.btn-recast-light {
    color: #3f729b;
    background-color: #edf1f5;
    border-color: #333;
}

.btn-recast-dark {
    color: #fff;
    background-color: #366C7A;
}
