@mixin formPresentation_button(
    $textColour:black,
    $backgroundColour:silver,
    $borderColour:black,
    $width:10em,
    $hoverTextColour:$textColour,
    $hoverBackgroundColour:lighten($backgroundColour,10),
    $hoverBorderColour:$borderColour){

    .formPresentation_button{
	    color:$textColour;
	    text-decoration:none;
	    text-align:center;
	    border:1px solid $borderColour;
	    background:$backgroundColour;
	    margin:2px;
	    margin-left:0px;
	    padding:2px 0px;
	    width:$width;
    }

    .formPresentation_button:hover{
	    color:$hoverTextColour;
	    background:$hoverBackgroundColour;
	    border:1px solid $hoverBorderColour;
    }
}
