@mixin formPresentation_field(
    $labelTextColour:black,
    $labelWidth:10em,
    $labelMarginRight:0.5em,

    $widgetTextColour:$labelTextColour,
    $widgetBackgroundColour:white,
    $widgetBorderColour:$labelTextColour,

    $widgetFocusBackgroundColour:$widgetBackgroundColour,

    $widgetErrorBorderColour:red){

    .formPresentation_itemContainer label{
	    text-align:right;
	    vertical-align:top;
	    display:inline-block;
	    width:$labelWidth;
	    margin-right:$labelMarginRight;
	    padding-bottom:0.2em;
	    color:$labelTextColour;
    }

    .formPresentation_widgetContainer{
	    display:inline-block;
	    vertical-align:top;
    }

    .formPresentation_widgetContainer label{
	    text-align:initial;
	    vertical-align:initial;
	    display:inline;
	    width:initial;
	    margin-right:0;
	    padding-bottom:initial;
    }

    .formPresentation_widget{
	    color:$widgetTextColour;
    }
    .formPresentation_widget:not([type="file"]){
	    background-color:$widgetBackgroundColour;
	    border:1px solid $widgetBorderColour;
    }

    .formPresentation_widget:not([type="file"]):focus{
	    background-color:$widgetFocusBackgroundColour;
    }


    // errors on widgets
    .formPresentation_widget.errors{
	    border:1px solid $widgetErrorBorderColour;
    }

    input[type=checkbox].formPresentation_widget.errors {
	    outline:1px solid $widgetErrorBorderColour;
    }

    select.formPresentation_widget.errors{
	    outline:1px solid $widgetErrorBorderColour;
    }

}
