@mixin formPresentation_errors(
    $errorTextColour:red){

    .formPresentation_error{
	    color:$errorTextColour;
    }

    /* from old use .formPresentation_errorIconImg{
	    vertical-align:middle;
	    padding:0 0.3em;
    }*/
}
