
/**********************************************************************
 * styles for 'better' theme
 **********************************************************************/

/****************************************
 * core overrides
 ****************************************/

a {
    color: #0972a5;
}

.flash-messages,
.error-messages {
    margin: 0.5em 0 0 0;
}

#context-menu {
    margin: 0.5em;
    white-space: nowrap;
}

.form {
    padding-left: 5em;
}

.grid-wrapper .grid-header #context-menu {
    float: none;
    margin: 0;
}

/****************************************
 * header
 ****************************************/

header .global {
    background-color: #eaeaea;
    height: 60px;
}

header .global a.home,
header .global a.global,
header .global span.global {
    display: block;
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 60px;
    margin-left: 10px;
}

header .global a.home img {
    display: block;
    float: left;
    padding: 5px 5px 5px 30px;
}

header .global .grid-nav {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 5em;
}

header .global .grid-nav .ui-button,
header .global .grid-nav span.viewing {
    margin-left: 1em;
}

header .global .feedback {
    float: right;
    line-height: 60px;
    margin-right: 1em;
}

header .page {
    border-bottom: 1px solid lightgrey;
    padding: 0.5em;
}

header .page h1 {
    margin: 0;
    padding: 0 0 0 0.5em;
}

/****************************************
 * content
 ****************************************/

body > #body-wrapper {
    margin: 0px;
    position: relative;
}

.content-wrapper {
    height: 100%;
    padding-bottom: 30px;
}

#scrollpane {
    height: 100%;
}

#scrollpane .inner-content {
    padding: 0 0.5em 0.5em 0.5em;
}

/****************************************
 * footer
 ****************************************/

#footer {
    border-top: 1px solid lightgray;
    bottom: 0;
    font-size: 9pt;
    height: 20px;
    left: 0;
    line-height: 20px;
    margin: 0;
    position: absolute;
    width: 100%;
}
