@mixin tables_dataTable(
    $borderColour:black,
    $headerTextColour:black,
    $headerBackground:white,
    $oddRowBackgroundColour:silver,
    $evenRowBackgroundColour:white){

    table.dataTable{
	    border-collapse:collapse;
	    border-spacing:0em;
	    margin:0.5em;
	    border-top:1px solid $borderColour;
	    border-left: 1px solid $borderColour;
    }

    table.dataTable thead{
	    color:$headerTextColour;
	    background-color:$headerBackground;
	    border-bottom:1px solid $borderColour;
    }

    table.dataTable thead tr th{
	    text-align:center;
	    vertical-align:middle;
	    padding:1em;
	    border-right:1px solid $borderColour;
        // for IE
	    border-bottom:1px solid $borderColour;
    }

    table.dataTable tbody tr{
	    border-bottom:1px solid $borderColour;
    }

    table.dataTable tbody tr th{
        // width:20em;
	    text-align:left;
	    border-right:1px solid $borderColour;
        // for IE
	    border-bottom:1px solid $borderColour;
    }

    table.dataTable tbody tr td{
	    text-align:left;
	    vertical-align:top;
	    padding-right:1em;
	    border-right:1px solid $borderColour;
        // for IE
	    border-bottom:1px solid $borderColour;
    }

    table.dataTable tbody tr.odd{
	    background-color:$oddRowBackgroundColour;
    }

    table.dataTable tbody tr.even{
	    background-color:$evenRowBackgroundColour;
    }
}
