#ipython-main-app {
  display: flex;
}

@media (min-width: 992px) {
  /* @screen-md-min */
  #notebook-container.container,
  #menubar-container.container {
    width: auto !important; /* necessary to overwrite bootstrap .container */
  }
}

#notebook_panel {
  flex: 1 0 auto;
  overflow-y: auto; /* bug fix */
}

.resizer {
  flex: 0 0 auto;
  margin: 0 -5px;
  width: 11px;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=)
    repeat-y center;
  cursor: col-resize;
}

.panel_resizer {
  opacity: .111;
}

.sidebar_panel {
  flex: 0 0 auto;
  overflow-y: auto;
  background: #f7f7f7;
  font-size: 9px;
}

.sidebar_panel.empty {
  background: #ffd;
}

.sidebar_handle {
  box-sizing: border-box;
  height: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.empty .sidebar_handle {
}

.sidebar_panel.ui-sortable-placeholder {
  background: #ffc;
}

.sidebar_text {
  overflow: hidden;
  padding: 6px 6px 2px;
}

.sidebar_tr_button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 6.5px 6px;
}

.sidebar_widget {
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #aaa;
  border-width: 1px 1px 0;
  font-size: 12px;
  line-height: 17px;
}

.sidebar_header {
  min-height: 26px;
  border-bottom: 1px solid #aaa;
  background: #ebf7ff;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

.sidebar_widget.collapsed > .sidebar_header::after {
  margin-left: 1ex;
  color: #999;
  content: ". . .";
}

.sidebar_widget.collapsed > .sidebar_body {
  display: none;
}

.sidebar_table_body {
  display: flex;
  overflow-x: auto;
}

/* .sidebar_widget:not(.collapsed) > .sidebar_tr_button { */
/*   display: none; */
/* } */

.sidebar_table_column {
  flex: 0 0 auto;
}

.sidebar_table_column:last-of-type {
  flex: 1 0 auto;
}

.sidebar_table_body > .resizer {
  opacity: .333;
}

.sidebar_table_cell {
  box-sizing: border-box;
  height: 26px;
  border-bottom: 1px solid #aaa;
  background: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Lucida Console", Monaco, monospace;
}

.sidebar_table_cell:nth-child(even) {
  background: #fafafa;
}

.sidebar_table_cell > span.jsb_type {
  display: inline-block;
  margin: -4px -4px 0;
  padding: 4px 4px 0;
  border-radius: 4px;
  color: white;
}

.jsb_other {
  background: #ddd;
}

.jsb_string {
  background: #ff847c;
}

.jsb_float {
  background: #dab528;
}

.jsb_bool {
  background: #33d275;
}

.jsb_uint {
  background: #00d7f7;
}

.jsb_int {
  background: #00c0ff;
}

.jsb_complex {
  background: #ff8cfa;
}

.sidebar_table_cell > span.jsb_module,
.sidebar_table_cell > span.jsb_multi,
.sidebar_table_cell > span.jsb_addr_prefix {
  color: #999;
}

.sidebar_table_info {
  border-bottom: 1px solid #aaa;
  background: white;
  font-style: italic;
}

.sidebar_line {
  overflow: hidden;
  border-bottom: 1px solid #aaa;
  background: white;
  font-family: "Lucida Console", Monaco, monospace; /* use 0.75em as advance width */
}

.sidebar_line:nth-child(even) {
  background: #fefefe;
}

@media (max-width: 991px) {
  /* @screen-sm-max */
  .sidebar_panel,
  .resizer_panel {
    display: none;
  }
}
